# Temp files
.DS_Store
*~
buck-out/

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/
.ipynb_checkpoints/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/site/

# API
/docs/_build/
